
/* Desktop: 1500 x 1000 */
/* Padrão*/

/* Tablet landscape: 1112 x 834 */
@media screen and (max-width: 1112px) /*and (max-height: 834px) and (orientation: landscape)*/ {
    /*div.conteudo div.wrapper {
        margin-top: 26px;
    }*/
}


/* tablet portrait: 768 x 1024 */
@media screen and (max-width: 820px) /*and (max-height: 1024px) and (orientation: portrait)*/ {

    header div.wrapper h1 {
        margin-left: auto; /* como já havia um 'margin-left: auto' da div.menu este acabou centralizando o h1, que era o segundo elemento de 3*/
    }

    header div.wrapper div.menu div.menuicon {
        display: flex;
        font-size: 30px;
        padding: 4px;
    }

    header div.wrapper div.menu div.menuicon i {
        transition: background-color 1s ease;
        -webkit-transition: background-color 1s ease;
        -moz-transition: background-color 1s ease;
        -o-transition: background-color 1s ease;
        cursor: pointer;
        border-radius: 20%;
        padding: 10px;
    }

    header div.wrapper div.menu div.menuicon i:hover {
        background-color: #333333;
        color: #C4C4C4;
    }

    header div.wrapper div.menu div.menubar {
        width: calc(162px + 20%); /*para evitar movimento estático dos 252px*/
        background-color: #333333;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        height: 100vh;
        top: 0;
        right: calc(-162px - 20%);
        z-index: 5;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    /* exibe a barra lateral, o elemento pai ao receber hover vai exibir a barra lateral, a barra lateral por ser filha continuará contando como se o hover ainda estivesse no elemento pai e assim o elemento filho também continuará sendo exibido*/
    header div.wrapper div.menu div.menubar.not-minimized { /* header div.wrapper div.menu:hover div.menubar*/
        right: 0%;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    header div.wrapper div.menu div.menubar i {
        display: flex;
        padding: 15px;
        border-radius: 20%;
        color: #FFFFFF;
        font-size: 24px;
        transition: background-color 1s ease;
        -webkit-transition: background-color 1s ease;
        -moz-transition: background-color 1s ease;
        -o-transition: background-color 1s ease;
        cursor: pointer;
    }

    header div.wrapper div.menu div.menubar i:hover {
        background-color: #C4C4C4;
        color: #333333;
    }

    header div.wrapper div.menu div.menubar nav {
        background-color: #333333;
        display: flex; /* inicialmente não era flex*/
        flex-direction: column;
        width: 100%;
    }

    header div.wrapper div.menu div.menubar nav a {
        color: #FFFFFF;
        text-align: right;
    }

    header div.wrapper div.menu div.menubar nav a:hover {
        background-color: #C4C4C4;
        color: #333333;
    }

    header div.wrapper div.menu div.menubar nav a:not(:last-child)::after {
        content: none;
        position: unset;
    }

    div.conteudo div.wrapper {
        /*background-color: azure; */
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    div.conteudo div.wrapper section {
        width: 100%;
        height: auto;
        margin: 0;
        box-sizing: border-box; /* fazer com que os paddings fiquem dentro dos 100% do parent*/
    }
    
    div.conteudo div.wrapper {
        padding: 0px 20px;
    }

    section.transacao form {
        position: relative;
        display: flex;
        /*flex-direction: row; */
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section.transacao form div {
        box-sizing: border-box;
        width: 25%;
    }
    section.transacao form div.divinputmaior {
        width: 50%;
        padding: 0px 20px;
    }

    section.transacao form button {
        width: 200px;
        margin-left: auto;
    }

    div.conteudo div.wrapper section.extrato{
        margin-top: 23px;
        padding: 20px 0px;
    }

    /* display table cols each */
    div.conteudo section.extrato div.table div.row div.col:nth-child(1){
        width: auto;
    }
    
}


/* smartphone: 411 x 731 */
@media screen and (max-width: 520px) /*and (max-height: 731px)*/ {

    div.conteudo div.wrapper {
        margin-top: 10px;
    }

    div.conteudo div.wrapper section.transacao {
        padding: 0px;
        border: none;
        border-bottom: 1px solid #979797;
    }

    div.conteudo div.wrapper section.transacao h2 {
        display: none;
    }

    div.conteudo div.wrapper section.transacao form {
        flex-direction: column;
    }

    div.conteudo div.wrapper section.transacao form div {
        padding: 0px;
        margin: 5px 0px;
        width: auto;
    }

    section.transacao form button {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    div.conteudo div.wrapper section.extrato{
        margin-top: 10px;
        padding: 0px;
    }
}